

## mac os
.DS_Store

## eclipse
.project
.classpath
.metadata
.settings/


## intellj IDEA
.idea
*.iml

## vs code
.vscode

## java
*.class
*.war

## svn
.svn

## maven
target/

## gradle
.gradle
build/
